.info_card {
    scrollbar-color: var(--widget-mask-color) transparent;
    background-color: var(--widget-color);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    min-width: 30vw;
    max-height: 44vh;
    resize: vertical;
    overflow: scroll;
    transition: all 0.2s ease-out;
}

.link {
    color: var(--font-primary-color);
}

.link:hover {
    color: var(--primary-color);
}


.field {
    font-size: 18px;
}

.field_left {
    display: inline-block;
    font-size: 20px;
}

.field_right {
    font-size: 18px;
    float: right;
}
