.info_card {
    scrollbar-color: var(--widget-mask-color) transparent;
    background-color: var(--widget-color);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    min-width: 30vw;
    max-height: 44vh;
    resize: vertical;
    overflow: scroll;
    transition: all 0.2s ease-out;
}

.link {
    color: var(--font-primary-color);
}

.link:hover {
    color: var(--primary-color);
}

.field_left {
    display: inline-block;
}

.field_right {
    float: right;
}
