.info_card {
    scrollbar-color: var(--widget-mask-color) transparent;
    background-color: var(--widget-color);
    box-shadow: rgba(5, 0, 24, 0.2) 0px 8px 24px;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    min-width: 30vw;
    max-height: 44vh;
    resize: vertical;
    overflow: scroll;
    transition: all 0.2s ease-out;
}

.link {
    color: var(--font-primary-color);
}

.link:hover {
    color: var(--primary-color);
}

.field_left {
    font-size: 18px;
    display: inline-block;
}

.field_right {
    float: right;
}
