.navbar {
    position: "absolute";
    top: 0;
    left: 0;
    background-color: var(--widget-color);
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.3);
}

.button {
    padding: 12px;
    border: transparent;
    border-radius: 0px;
    background-color: transparent;
    color: var(--font-color);
    font-size: 20px;
    font-family: "Roboto";
}

.button:hover {
    background-color: var(--widget-mask-color);
    transition: all 0.2s ease-out;
}
